<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
 {{> "./src/templates/geo.hbs"}}
</body>
</html>